<!DOCTYPE html>
<html>
<head>
  <title>CrudFromScratch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">gBook Ello Twitter </a>
      </div>
    </div>
  </div>

  <% if notice %>
  <div class="container">
    <div class="alert alert-success"><strong><center><%= notice %></center></strong></div>
  </div>
  <% end %>


<%= yield %>


</body>
</html>
